.calendario{
  background-color: #EEE;
  padding: 2em;
}

.calendario__cabecalho__item{
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-weight: 600;
  font-size: .9em;
}

.calendario__dia{
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    background-color: #FFF;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
  }

  .calendario__dia--outro-mes{
    background-color: #f6f6f6;
    color: #BBB;
  }
  .calendario__dia--hoje{
    background-color: var(--cor-azul-escuro);
  }

  .calendario__dia--com-evento{
    background-color: var(--cor-vermelho-claro);
    cursor: pointer;
  }
