.footer{
    font-size: 1.4rem;
    background: var(--cor-cinza-claro);
    padding: 1em;
}

.footer__container{
    width: 80%;
    margin: 1em auto;
    text-align: center;
}

.footer__p{
    font-size: 1.1em;
    margin-top: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;   
}